<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container">
    <h1 class="my-2">History</h1>

    <table class="table table-bordered table-striped">
      <tr>
        <td>Quiz</td>
        <td>Attempted Question</td>
        <td>Valid</td>
        <td>Attempted At</td>
      </tr>
      <% for(var i=0; i < response.length; i++) { %>
        <tr>
          <td>
            <%= response[i]?.quizId?.name %>
          </td>
          <td>
            <%= response[i]['answers'].length%>
          </td>
          <td>
            <%= response[i]['isValid']['value'] %>
          </td>
          <td>
            <%= response[i]['createdAt'] %>
          </td>
        </tr>
        <% } %>

    </table>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>