<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <style>
    .option{
      cursor: pointer;
      border:1px solid gray;
      padding:10px;
      margin: 4px 0px;
      border-radius: 4px;
    }
    .option.selected{
      background: gray;
      color:#fff;
    }
  </style>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container py-4">
    <% for(var i=0; i < data['questions'].length; i++) { %>
      <div class="card my-4">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div><%= data['questions'][i]['text'] %></div>
            <div>
              <span class="badge-primary badge">
                <%= data['questions'][i]['positive_point'] %>
              </span>
              <span class="badge-danger badge">
                <%= data['questions'][i]['negative_point']%>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body" id="<%= data['questions'][i]['_id'] %>">
          <% for(var j=0; j < data['questions'][i]['options'].length; j++) { %>
            <div class="option"  id="<%= data['questions'][i]['options'][j]['_id'] %>"
            data-correct="<%= data['questions'][i]['options'][j]['isCorrect'] %>">
              <%= data['questions'][i]['options'][j]['text'] %>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>

    <div class="my-2">
      <button type="button" class="btn btn-primary btn-lg btn-block" id="submit">Submit</button>
    </div>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>
<script>
  let quizId = "<%= data['_id'] %>";
  let userId = "<%= user['_id'] %>";
  $('.option').on('click', function(){
    let parentId = $(this).parent()[0].id;
    $(`#${parentId}`).children().removeClass("selected");
    $(this).addClass("selected");
  });
  $('#submit').on('click', function(){
    let response = {};
    $('.selected').each(function(){
      let questionId = $(this).parent()[0].id;
      let answerId = this.id;
      response[questionId] = answerId;
    });
   fetch(
    "/quiz/ajax/submit-response",
    {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify( {response,quizId, userId })
    }).then(function( msg ) {
      alert( "Data Saved: " + msg );
    });
  });
</script>
</body>

</html>