<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container py-4">
    <div class="mb-2 mr-3">
      <div class="row justify-content-end">
        <a href="/professor/quiz/create" class="btn btn-primary">Create New</a>

      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Total Question</th>
        <th>Last Update</th>
        <th width="150">Action</th>
      </thead>
      <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td>
            <%= data[i]['_id'] %>
          </td>
          <td>
            <%= data[i]['name'] %>
          </td>
          <td>
            <%= (data[i]['questions'] ?? []).length %>
          </td>
          <td>
            <%= new Date(data[i]['updatedAt']) %>
          </td>
          <td>
            <a class="btn btn-dark btn-sm" href="/professor/quiz/<%= data[i]['_id'] %>">View</a>
            <a class="btn btn-warning btn-sm" href="./">Disable</a>
          </td>
        </tr>
        <% } %>
    </table>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>