<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container py-4">
    <div class="mb-2 mr-3">
      <div class="row justify-content-end">
        <a href="/professor/quiz/create" class="btn btn-primary">Create New</a>
      </div>
    </div>
    <% if(type && message){%>
      <p class="alert alert-<%= type %>">
        <%= message %>
      </p>
      <% }%>
        <table class="table table-bordered table-striped">
          <thead>
            <th>Name</th>
            <th>Total Question</th>
            <th>Available For</th>
            <th width="320">Last Update</th>
            <th>Status</th>
            <th width="160">Action</th>
          </thead>
          <% for(var i=0; i < data.length; i++) { %>
            <tr>
              <td>
                <a href="/professor/quiz/<%= data[i]['_id'] %>">
                  <%= data[i]['name'] %>
                </a>
              </td>
              <td>
                <%= (data[i]['questions'] ?? []).length %>
              </td>
              <td>
                <%= (data[i]['available_for'] ?? []).length %> Students
              </td>
              <td>
                <%= new Date(data[i]['updatedAt']) %>
              </td>
              <td>
                <% if(data[i]['is_disabled']) { %>
                  <a class="btn btn-danger btn-sm" href="/professor/quiz/<%= data[i]['_id'] %>/enable">Enabled</a>
                  <% }else{%>
                    <a class="btn btn-dark btn-sm" href="/professor/quiz/<%= data[i]['_id'] %>/disable">Disable</a>
                    <% } %>
              </td>

              <td>
                <a class="btn btn-primary btn-sm" href="/professor/quiz/<%= data[i]['_id'] %>/result">Result</a>

              </td>
            </tr>
            <% } %>
        </table>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>