<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <style>
    .option{
      cursor: pointer;
      border:1px solid gray;
      padding:10px;
      margin: 4px 0px;
      border-radius: 4px;
    }
    .option.selected{
      background: gray;
      color:#fff;
    }
  </style>
</head>

<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>

  <main class="container py-4">
    <div class="mb-2 mr-3">
      <div class="row justify-content-end">
        <a href="/professor/quiz/<%= data['_id'] %>/add-one" class="btn btn-primary">Add Question</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <%= data['name'] %>
      </div>
      <div class="card-body">
        <div class="mb-2">
          <%= data['description'] %>
        </div>
        <div class="mb-2">
          Total Attmpted : <%= data['attempted'] %> times
        </div>
        <a href="/professor/quiz/6078062bc3edca5986af5226/result" class="btn btn-primary">View Student Details</a>
      </div>
    </div>
    
    <% for(var i=0; i < data['questions'].length; i++) { %>
      <div class="card my-4">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <div><%= data['questions'][i]['text'] %></div>
            <div>
              <a href="./question/<%= data['questions'][i]['_id']%>delete"></a>
            </div>
          </div>
        </div>
        <div class="card-body" id="<%= data['questions'][i]['_id'] %>">
          <% for(var j=0; j < data['questions'][i]['options'].length; j++) { %>
            <div class="option" 
            data-correct="<%= data['questions'][i]['options'][j]['isCorrect'] %>">
            <%= data['questions'][i]['options'][j]['text'] %>
          </div>
          <% } %>
        </div>
      </div>
    <% } %>
  </main>

  <footer>
    <%- include('../../partials/footer'); %>
  </footer>
<script>
  $('.option').on('click', function(){
    let parentId = $(this).parent()[0].id;
    $(`#${parentId}`).children().removeClass("selected");
    $(this).addClass("selected");
  });
</script>
</body>

</html>